.list {
  width: 120px;
  background-color: #eee;
  border-radius: 5px;
  padding: 30px;
  margin-right: 40px;
}

.listItem {
  list-style: none;
}

.listItem:not(:first-child) {
  margin-top: 10px;
}

.link {
  color: #333;
  text-decoration: none;
}
